{% extends "nla/index.html" %}
{% block content %}
<div class="top-div">
    <div class="search-box">
        <input type="hidden" id="channel_value" value="0">
        <div class="search">
            <input id="channel" class="text" type="text"
                   value="频道查询" onfocus="searchFocusSet(this,'频道查询')" onblur="searchBlurSet(this,'频道查询')"
                   autocomplete="off" role="textbox" aria-autocomplete="list" aira-haspopup="true">
        </div>
        <div class="search">
            <input type="text" id="beginDate" class="datepicker" value="{{ beginDate }}" readonly="true" name="beginDate"/>
        </div>
        <div class="search submit">
            <input type="image" src="/static/images/btn_submit.png" id="submit"/>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="middle-div">
    <div id="charts" style="margin-top: 25px;">
        <div id="chart-channel-original"></div>
        <a id="popupChart"></a>
    </div>
</div>
<script type="text/javascript">
function popupChart(beginDate, channelId) {
    var url = "/nla/channelnla/summary/?beginDate="+beginDate+"&channelId="+channelId;
    $('a#popupChart').attr('href', url);
    $('a#popupChart').click();
}

$(document).ready(function() {
    $('a#popupChart').fancybox({
        'width': "920",
        'height': "620",
        'autoScale': true,
        'centerOnScroll': true,
        'padding': 28,
        'margin': 48,
        'scrolling': "no",
        'overlayOpacity': 0.4,
        'overlayColor': "#979b8f",
        'transitionIn': "elastic",
        'transitionOut': "elastic",
        'enableEscapeButton': true
    });

    $('.datepicker').datepicker();

    $('div.search input.text').addClass('search_font_style');
    $('#channel').autocomplete({
          source: function(request, response) {
              $.ajax({
                 url: "/rcms/channels/",
                 dataType: "json",
                 data: {
                     name: request.term
                 },
                 success: function(data) {
                     response($.map(data.channels, function(item) {
                         return {
                             label: item.name,
                             value: item.channelId
                         }
                     }));
                 }
             });
          },
          minLength: 5,
          focus: function(event, ui) {
              $('#channel').val(ui.item.label);
              return false;
          },
          select: function(event, ui) {
              $('#channel').val(ui.item.label);
              $('#channel_value').val(ui.item.value);
              return false;
          },
          change: function(event, ui) {
              if (ui.item) {
                  $('#channel_value').val(ui.item.value);
              }
              else {
                  $('#channel_value').val("0");
              }
              return false;
          }
      });

    $('#submit').click(function() {
        var channelId = $('#channel_value').val();
        var day = $('#beginDate').val();
        if (channelId == '0') {
            return;
        }

        FusionCharts._fallbackJSChartWhenNoFlash();
        var chart = new FusionCharts("/static/swf/MSCombiDY2D.swf",
        "cco", "100%", "480", "0", "1");
        var url = "/nla/channelnla/original/";
        url += "?beginDate="+day;
        url += "%26channelId="+channelId;
        chart.setJSONUrl(url);
        chart.render("chart-channel-original");
    });
});
</script>
{% endblock %}