{% extends "nla/index.html" %}
{% block content %}

<div class="top-div">
    <div class="search-box">
        <div class="search">
            <input type="text" id="beginDate" class="datepicker" value="{{ beginDate }}" readonly="true" name="beginDate"/>
        </div>
        <div class="search submit">
            <input type="image" src="/static/images/btn_submit.png" id="submit"/>
        </div>
    </div>
    <div class="clear"></div>
    <div id="chart-node-rate" style="float: left;margin-right: 20px;"></div>
    <div id="chart-city-rate" style="float: left;"></div>
    <div id="chart-isp-rate" style="float: right"></div>

    <div class="clear"></div>
    <br>
    <div id="chart-crossisp-chn" style="float: left;"></div>
    <div id="chart-crossisp-cnc" style="float: right;"></div>
    <div class="clear"></div>
    <br>
    <div style="float: left;">
        <div id="chart-node"></div>
    </div>
    <div style="float: right;">
        <div id="chart-city"></div>
        <br>
        <div id="chart-isp"></div>
    </div>
    <div class="clear"></div>
    <br>
</div>
<div class="middle-div">
    <div class="clear"></div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('.datepicker').datepicker();
    $("#contents").mask("Loading......");
    draw_chart();

    $('#submit').click(function() {
        draw_chart();
    });
});

function draw_chart() {
    var day = $('#beginDate').val();

    FusionCharts._fallbackJSChartWhenNoFlash();
    var chart1 = new FusionCharts("/static/swf/Pie2D.swf",
    "cnr", "328", "300", "0", "1");
    var url1 = "/nla/area/noderate/data/";
    url1 += "?beginDate="+day;
    chart1.setJSONUrl(url1);
    chart1.render("chart-node-rate");

    FusionCharts._fallbackJSChartWhenNoFlash();
    var chart2 = new FusionCharts("/static/swf/Pie2D.swf",
    "ccr", "328", "300", "0", "1");
    var url2 = "/nla/area/cityrate/data/";
    url2 += "?beginDate="+day;
    chart2.setJSONUrl(url2);
    chart2.render("chart-city-rate");

    FusionCharts._fallbackJSChartWhenNoFlash();
    var chart3 = new FusionCharts("/static/swf/Pie2D.swf",
    "cir", "328", "300", "0", "1");
    var url3 = "/nla/area/isprate/data/";
    url3 += "?beginDate="+day;
    chart3.setJSONUrl(url3);
    chart3.render("chart-isp-rate");

    FusionCharts._fallbackJSChartWhenNoFlash();
    var chart4 = new FusionCharts("/static/swf/Pie2D.swf",
    "ccic", "480", "380", "0", "1");
    var url4 = "/nla/area/crosschn/data/";
    url4 += "?beginDate="+day;
    chart4.setJSONUrl(url4);
    chart4.render("chart-crossisp-chn");

    FusionCharts._fallbackJSChartWhenNoFlash();
    var chart5 = new FusionCharts("/static/swf/Pie2D.swf",
    "ccic", "480", "380", "0", "1");
    var url5 = "/nla/area/crosscnc/data/";
    url5 += "?beginDate="+day;
    chart5.setJSONUrl(url5);
    chart5.render("chart-crossisp-cnc");

    FusionCharts._fallbackJSChartWhenNoFlash();
    var chart6 = new FusionCharts("/static/swf/StackedBar2D.swf",
    "ccic", "480", "2888", "0", "1");
    var url6 = "/nla/area/node/data/";
    url6 += "?beginDate="+day;
    chart6.setJSONUrl(url6);
    chart6.render("chart-node");

    FusionCharts._fallbackJSChartWhenNoFlash();
    var chart7 = new FusionCharts("/static/swf/StackedBar2D.swf",
    "ccic", "480", "1020", "0", "1");
    var url7 = "/nla/area/city/data/";
    url7 += "?beginDate="+day;
    chart7.setJSONUrl(url7);
    chart7.render("chart-city");

    FusionCharts._fallbackJSChartWhenNoFlash();
    var chart8 = new FusionCharts("/static/swf/StackedBar2D.swf",
    "ccic", "480", "620", "0", "1");
    var url8 = "/nla/area/isp/data/";
    url8 += "?beginDate="+day;
    chart8.setJSONUrl(url8);
    chart8.render("chart-isp");
}
</script>
{% endblock %}