{% extends "nla/index.html" %}
{% block content %}
<div class="top-div">
    <div class="search-box">
        <div class="search">
            <input type="text" id="beginDate" class="datepicker" value="{{ beginDate }}" readonly="true" name="beginDate"/>
        </div>
        <div class="search submit">
            <input type="image" src="/static/images/btn_submit.png" id="submit"/>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="middle-div">
    <div id="charts">
        <div id="chart-systemload"></div>
        <br>
        <div id="chart-masterdir"></div>
        <br>
        <div id="chart-speed"></div>
    </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
$(document).ready(function() {
    $('.datepicker').datepicker();
    chartInit();

    $('#submit').click(function() {
        chartInit();
    });
});

function chartInit() {
    var day = $('#beginDate').val();

    FusionCharts._fallbackJSChartWhenNoFlash();
    var chart1 = new FusionCharts("/static/swf/StackedArea2D.swf",
    "cl", "100%", "380", "0", "1");
    var url1 = "/nla/statistic/systemload/";
    url1 += "?beginDate="+day;
    chart1.setJSONUrl(url1);
    chart1.render("chart-systemload");

    FusionCharts._fallbackJSChartWhenNoFlash();
    var chart2 = new FusionCharts("/static/swf/MSLine.swf",
    "cm", "100%", "380", "0", "1");
    var url2 = "/nla/statistic/masterdir/";
    url2 += "?beginDate="+day;
    chart2.setJSONUrl(url2);
    chart2.render("chart-masterdir");

    FusionCharts._fallbackJSChartWhenNoFlash();
    var chart3 = new FusionCharts("/static/swf/MSLine.swf",
    "cs", "100%", "380", "0", "1");
    var url3 = "/nla/statistic/speed/";
    url3 += "?beginDate="+day;
    chart3.setJSONUrl(url3);
    chart3.render("chart-speed");
}
</script>
{% endblock %}