<div class="top-div">
    <div class="search-box">
        <div class="search">
            <input type="text" id="beginDate" class="datepicker" value="{{ beginDate }}" readonly="true" name="beginDate"/>
            <input type="hidden" id="device" name="nla_device" value="{{ device_name }}"/>
        </div>
        <div class="search submit">
            <input type="image" src="/static/images/btn_submit.png" id="submit-popup"/>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="middle-div">
    <div id="charts">
        <div id="chart-performance-health"></div>
        <br/>
        <div id="chart-performance-load"></div>
        <br/>
        <div id="chart-performance-dir"></div>
        <br/>
        <div id="chart-process-speed"></div>
        <br/>
        <div id="chart-performance-cpu"></div>
        <br/>
        <div id="chart-performance-io"></div>
        <br/>
        <div id="chart-performance-memory"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
       $('.datepicker').datepicker();

        loadCharts();

        $('#submit-popup').click(function() {
            loadCharts();
        });
    });

    function loadCharts() {
        var day = $('#beginDate').val();
        var device = $('#device').val();

        FusionCharts._fallbackJSChartWhenNoFlash();
        var health_chart = new FusionCharts("/static/swf/MSCombiDY2D.swf",
        "cph", "800", "260", "0", "1");
        var health_url = "/nla/"+device+"/performance/data/";
        health_url += "?beginDate="+day+"%26type=health";
        health_chart.setJSONUrl(health_url);
        health_chart.render("chart-performance-health");

        FusionCharts._fallbackJSChartWhenNoFlash();
        var load_chart = new FusionCharts("/static/swf/MSCombiDY2D.swf",
        "cpl", "800", "260", "0", "1");
        var load_url = "/nla/"+device+"/performance/data/";
        load_url += "?beginDate="+day+"%26type=load";
        load_chart.setJSONUrl(load_url);
        load_chart.render("chart-performance-load");

        FusionCharts._fallbackJSChartWhenNoFlash();
        var dir_chart = new FusionCharts("/static/swf/MSCombiDY2D.swf",
        "cpd", "800", "260", "0", "1");
        var dir_url = "/nla/"+device+"/performance/data/";
        dir_url += "?beginDate="+day+"%26type=dir";
        dir_chart.setJSONUrl(dir_url);
        dir_chart.render("chart-performance-dir");

        FusionCharts._fallbackJSChartWhenNoFlash();
        var speed_chart = new FusionCharts("/static/swf/MSCombiDY2D.swf",
        "cps", "800", "260", "0", "1");
        var speed_url = "/nla/"+device+"/performance/data/";
        speed_url += "?beginDate="+day+"%26type=speed";
        speed_chart.setJSONUrl(speed_url);
        speed_chart.render("chart-process-speed");
        
        FusionCharts._fallbackJSChartWhenNoFlash();
        var cpu_chart = new FusionCharts("/static/swf/MSCombiDY2D.swf",
        "cpc", "800", "260", "0", "1");
        var cpu_url = "/nla/"+device+"/performance/data/";
        cpu_url += "?beginDate="+day+"%26type=cpu";
        cpu_chart.setJSONUrl(cpu_url);
        cpu_chart.render("chart-performance-cpu");

        FusionCharts._fallbackJSChartWhenNoFlash();
        var io_chart = new FusionCharts("/static/swf/MSCombiDY2D.swf",
        "cpi", "800", "260", "0", "1");
        var io_url = "/nla/"+device+"/performance/data/";
        io_url += "?beginDate="+day+"%26type=io";
        io_chart.setJSONUrl(io_url);
        io_chart.render("chart-performance-io");

        FusionCharts._fallbackJSChartWhenNoFlash();
        var memory_chart = new FusionCharts("/static/swf/MSCombiDY2D.swf",
        "cpm", "800", "260", "0", "1");
        var memory_url = "/nla/"+device+"/performance/data/";
        memory_url += "?beginDate="+day+"%26type=memory";
        memory_chart.setJSONUrl(memory_url);
        memory_chart.render("chart-performance-memory");
    }
</script>