<div class="top-div">
    <div class="search-box">
        <div class="search">
            <input type="text" id="beginDate-popup" class="datepicker" value="{{ beginDate }}"
                   readonly="true" name="beginDate-popup"/>
            <input type="hidden" id="channelId" name="channel_id" value="{{ channelId }}"/>
        </div>
        <div class="search submit">
            <input type="image" src="/static/images/btn_submit.png" id="submit-popup"/>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="middle-div">
    <div id="charts">
        <div id="chart-hadoop-publish"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.datepicker').datepicker();
        loadCharts();

        $('#submit-popup').click(function() {
            loadCharts();
        });
    });

    function loadCharts() {
        var day = $('#beginDate-popup').val();
        var channelId = $('#channelId').val();

        FusionCharts._fallbackJSChartWhenNoFlash();
        var chart = new FusionCharts("/static/swf/Column3D.swf",
                                            "chp", "800", "400", "0", "1");
        var url = "/hadoop/publish/"+channelId+"/data/";
        url += "?beginDate="+day;
        chart.setJSONUrl(url);
        chart.render("chart-hadoop-publish");
    }
</script>