<div class="top-div">
    <div class="search-box">
        <div class="search">
            <input type="text" id="beginDate" class="datepicker" value="{{ beginDate }}" readonly="true" name="beginDate"/>
            <input type="hidden" id="device" name="nla_device" value="{{ device_name }}"/>
        </div>
        <div class="search submit">
            <input type="image" src="/static/images/btn_submit.png" id="submit-popup"/>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="middle-div">
    <div id="charts">
        <div id="chart-performance-cpu"></div>
        <br/>
        <div id="chart-performance-io"></div>
        <br/>
        <div id="chart-performance-memory"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
       $('.datepicker').datepicker();

        loadCharts();

        $('#submit-popup').click(function() {
            loadCharts();
        });
    });

    function loadCharts() {
        var day = $('#beginDate').val();
        var device = $('#device').val();

        FusionCharts._fallbackJSChartWhenNoFlash();
        var cpu_chart = new FusionCharts("/static/swf/MSCombiDY2D.swf",
        "cpc", "800", "260", "0", "1");
        var cpu_url = "/hadoop/monitor/datanode/"+device+"/performance/data/";
        cpu_url += "?beginDate="+day+"%26type=cpu";
        cpu_chart.setJSONUrl(cpu_url);
        cpu_chart.render("chart-performance-cpu");

        FusionCharts._fallbackJSChartWhenNoFlash();
        var io_chart = new FusionCharts("/static/swf/MSCombiDY2D.swf",
        "cpi", "800", "260", "0", "1");
        var io_url = "/hadoop/monitor/datanode/"+device+"/performance/data/";
        io_url += "?beginDate="+day+"%26type=io";
        io_chart.setJSONUrl(io_url);
        io_chart.render("chart-performance-io");

        FusionCharts._fallbackJSChartWhenNoFlash();
        var memory_chart = new FusionCharts("/static/swf/MSCombiDY2D.swf",
        "cpm", "800", "260", "0", "1");
        var memory_url = "/hadoop/monitor/datanode/"+device+"/performance/data/";
        memory_url += "?beginDate="+day+"%26type=memory";
        memory_chart.setJSONUrl(memory_url);
        memory_chart.render("chart-performance-memory");
    }
</script>