body {
    margin: 0;
    padding: 0;
}
div#head {
    height: 157px;
    background: url("../images/bg-hd.gif") repeat-x 0 0;
}
div#hd {
    position: relative;
    z-index: 2;
    width: 960px;
    margin: 0 auto;
}
div#logo {
    padding: 0 0 0 37px;
}