/* ///////////////////////////
Hijack Specific CSS
Please feel free to modify to meet your needs
If you see areas of improvement please let us know!
/////////////////////////// */
.hjsel_select
{
    border: 1px solid #cfd0d0;
    background: #FFFFFF;
    height: 23px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.hjsel_txtbox
{
    font-size: 12px;
    height: 17px;
    border: 1px solid #FFFFFF;
    padding: 2px;
}

.hjsel_options
{
    display: none;
    position: absolute;
    background-color: #e4e4d7;
    border: solid 1px #888;
    z-index: 10;
}

.hjsel_options ul
{
    padding: 0;
    margin: 0;
    z-index: 10;
}

.hjsel_options li
{
    list-style: none;
    padding: 3px 0;
    margin: 0 8px;
    font-size: 12px;
    border-bottom: 1px dotted #000000;
    z-index: 10;
}

.hjsel_options_hover
{
    color: #d93a14;
    cursor: pointer;
}

.hjsel_ddImage
{
    cursor: pointer;
    margin-bottom: 2px;
}

.hjsel_ddCancel
{
    cursor: pointer;
    margin: 0 5px 1px 0;
}