{% extends "fc/index.html" %}
{% block content %}
<div class="top-div">
    <div class="search-box">
        <div class="search">
            <input type="text" id="beginDate" class="datepicker" value="{{ beginDate }}" readonly="true" name="beginDate"/>
        </div>
        <div class="search submit">
            <input type="image" src="/static/images/btn_submit.png" id="submit"/>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="middle-div">
    <div id="charts">
        <div id="chart-fc-original"></div>
        <script type="text/javascript">
            FusionCharts._fallbackJSChartWhenNoFlash();
            var chart = new FusionCharts("/static/swf/MSCombiDY2D.swf",
            "cfo", "100%", "480", "0", "1");
            var url = "/fc/fcoriginal/data/";
            url += "?beginDate={{ beginDate }}";
            chart.setJSONUrl(url);
            chart.render("chart-fc-original");
        </script>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('.datepicker').datepicker();

    $('#submit').click(function() {
        var day = $('#beginDate').val();
        
        FusionCharts._fallbackJSChartWhenNoFlash();
        var cfo = FusionCharts("cfo");
        var url = "/fc/fcoriginal/data/";
        url += "?beginDate="+day;
        cfo.setJSONUrl(url);
    });
});
</script>
{% endblock %}