{% extends "publisher/index.html" %}
{% block content %}
<div class="top-div">
    <div class="search-box">
        <div class="boxDevice search">
            <select id="s_device_lc" class="hyjack" autocomplete="off">
                <option value="0">请选择LC设备</option>
                {% for lc in lcs %}
                    <option value="{{ lc }}">{{ lc }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="boxDir search">
            <select id="s_dir" class="hyjack" autocomplete="off">
                <option value="0">请选择目录</option>
            </select>
        </div>
        <div class="search">
            <input type="text" id="beginDate" class="datepicker" value="{{ beginDate }}" readonly="true" name="beginDate"/>
        </div>
        <div class="search submit">
            <input type="image" src="/static/images/btn_submit.png" id="submit"/>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="middle-div">
    <div class='clear'></div>
    <div id="charts">
        <div id="chart-directory"></div>
        <br/>
        <div id="chart-mount"></div>
    </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
$(document).ready(function() {
    $('.datepicker').datepicker();
    $('#s_device_lc').hyjack_select({
        ddImage: '/static/images/arrow_down.png',
        ddCancel: '/static/images/cancel.png',
        emptyMessage: 'No item'
    });
    $('div.boxDevice div.hjsel_container').css("width", "160px");
    $('div.boxDevice div div input[type="text"]').css("width", "118px");

    $('#s_dir').hyjack_select({
        ddImage: '/static/images/arrow_down.png',
        ddCancel: '/static/images/cancel.png',
        emptyMessage: 'No item'
    });
    $('div.boxDir div.hjsel_container').css("width", "230px");
    $('div.boxDir div div input[type="text"]').css("width", "196px");

    $('#s_device_lc').change(function() {
        initDirBox();
    });

    $('#submit').click(function() {
        var day = $('#beginDate').val();
        var dir = $('#s_dir option:selected').val();
        var device = $('#s_device_lc option:selected').val();

        if (device == "0") {
            return;
        }
        var args = {"beginDate": day};
        $.getJSON("/lcer/lcer/summary/",
          args,
          function(data) {
            $('div#summary').remove();
            var html = "<div id='summary'"
                      +" class='drop-shadow curved curved-vt-2'>"
                      +"<div><p class='title'>BGP</p>"
                      +"<p class='value'>"+data["bgp"]+"</p>"
                      +"</div>"
                      +"<div><p class='title'>CCN</p>"
                      +"<p class='value'>"+data["ccn"]+"</p>"
                      +"</div>"
                      +"<div><p class='title'>CNC</p>"
                      +"<p class='value'>"+data["cnc"]+"</p>"
                      +"</div>";
            $('div.middle-div').prepend(html);
          }
        );

        FusionCharts._fallbackJSChartWhenNoFlash();
        var chart1 = new FusionCharts("/static/swf/MSCombiDY2D.swf",
        "cd", "100%", "300", "0", "1");
        var url1 = "/lcer/blockmonitor/detail/";
        url1 += "?hostname="+device+"%26mtype=dir";
        url1 += "%26beginDate="+day+"%26dir="+dir;
        chart1.setJSONUrl(url1);
        chart1.render("chart-directory");

        FusionCharts._fallbackJSChartWhenNoFlash();
        var chart2 = new FusionCharts("/static/swf/Column3D.swf",
        "cm", "100%", "300", "0", "1");
        var url2 = "/lcer/blockmonitor/detail/";
        url2 += "?hostname="+device+"%26mtype=mount";
        url2 += "%26beginDate="+day;
        chart2.setJSONUrl(url2);
        chart2.render("chart-mount");
    });
});

function initDirBox() {
    var lc = $('#s_device_lc option:selected').val();
    var day = $('#beginDate').val();
    var url = "/lcer/"+lc+"/dirs/?beginDate="+day;
    $.ajax({
        type: "GET",
        url: url,
        success: function(data) {
            $(".boxDir").html(data);
        }
    });
}
</script>
{% endblock %}