<select id="s_dir" class="hyjack" autocomplete="off">
    <option value="0">请选择目录</option>
    {% for dir in dirs %}
        <option value="{{ dir }}">{{ dir }}</option>
    {% endfor %}
</select>
<script type="text/javascript">
$(document).ready(function() {
    $('#s_dir').hyjack_select({
        ddImage: '/static/images/arrow_down.png',
        ddCancel: '/static/images/cancel.png',
        emptyMessage: 'No item'
    });

    $('div.boxDir div.hjsel_container').css("width", "230px");
    $('div.boxDir div div input[type="text"]').css("width", "196px");
});
</script>