{% extends "refresh/index.html" %}
{% block content %}
<div class="top-div">
    <div class="search-box">
        <input type="hidden" id="customer_value" value="0">
        <div class="search">
            <input id="customer" class="text" type="text"
                   value="客户查询" onfocus="searchFocusSet(this,'客户查询')" onblur="searchBlurSet(this,'客户查询')"
                   autocomplete="off" role="textbox" aria-autocomplete="list" aira-haspopup="true">
        </div>
        <div class="search">
            <input type="text" id="url" name="url" class="text" value="URL查询" onfocus="searchFocusSet(this,'URL查询')" onblur="searchBlurSet(this,'URL查询')" style="width: 500px;"/>
        </div>
        <div class="search">
            <input type="text" id="beginDate" class="datepicker" value="{{ beginDate }}" readonly="true" name="beginDate"/>
        </div>
        <div class="search submit">
            <input type="image" src="/static/images/btn_submit.png" id="submit"/>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="middle-div">
</div>
<div class="clear"></div>
<script type="text/javascript">
$(document).ready(function() {
    $('div.search input.text').addClass('search_font_style');
    $('.datepicker').datepicker();

    $('#customer').autocomplete({
        source: function(request, response) {
            $.ajax({
               url: "/rcms/customers/",
               dataType: "json",
               data: {
                   name: request.term
               },
               success: function(data) {
                   response($.map(data.customers, function(item) {
                       return {
                           label: item.name,
                           value: item.customerId
                       }
                   }));
               }
           });
        },
        minLength: 2,
        focus: function(event, ui) {
            $('#customer').val(ui.item.label);
            return false;
        },
        select: function(event, ui) {
            $('#customer').val(ui.item.label);
            $('#customer_value').val(ui.item.label);
            return false;
        },
        change: function(event, ui) {
            if (ui.item) {
                $('#customer_value').val(ui.item.label);
            }
            else {
                $('#customer_value').val("0");
            }
            return false;
        }
    });

    $('#submit').click(function() {
        var customerId = $('#customer_value').val();
        var url = $('input#url').val();
        var day = $('#beginDate').val();
        
        if (customerId == "0" || url == "URL查询") {
            return;
        }
        $('div.div-table').remove();
        var args = {"url": url, "customer": customerId, "beginDate": day};
        $.getJSON("/refresh/detail/url/data/",
            args,
            function(data) {
                var table = "<div class='div-table'>"
                                +"<div class='div-head'>"
                                    +"<div class='div-th' style='width: 70%'>URL</div>"
                                    +"<div class='div-th' style='width: 8%'>状态</div>"
                                    +"<div class='div-th' style='width: 11%'>创建时间</div>"
                                    +"<div class='div-th' style='width: 11%'>完成时间</div>"
                                    +"<div class='clear'></div>"
                                +"</div>";
                $.each(data["data"], function(index, entry) {
                    table += "<div class='div-tr level0' id='tr"+index+"'>";
                    table += "<div class='div-td' style='width: 70%'><a class='popup' href='/refresh/detail/url/"+entry["id"]+"/devices/'>"+entry["url"]+"</a></div>";
                    table += "<div class='div-td' style='width: 8%'>"+entry["status"]+"</div>";
                    table += "<div class='div-td' style='width: 11%'>"+entry["created_time"]+"</div>";
                    table += "<div class='div-td' style='width: 11%'>"+entry["finish_time"]+"</div>";
                    table += "<div class='clear'></div>";
                    table += "</div>";
                });
                table += "</div>";
                $('div.middle-div').append(table);
                bindPopUp();
            }
        )
    });
});

function bindPopUp() {
    $('a.popup').fancybox({
        'width': "768",
        'height': "1024",
        'autoScale': true,
        'centerOnScroll': true,
        'padding': 28,
        'margin': 48,
        'scrolling': "no",
        'overlayOpacity': 0.4,
        'overlayColor': "#979b8f",
        'transitionIn': "elastic",
        'transitionOut': "elastic",
        'enableEscapeButton': true
    });
}
</script>
{% endblock %}